@import 'fonts.less';
@import 'lesshat.less';

@image-root: '/Content/images';

@cl-brand: #293034;
@cl-brand-sub: #293034;
@cl-brand-tx: #44ffb1;
@cl-tx-command: #44ffb1;
/*@cl-brand: #444952;*/

.bg-image(@image-name) {
    @image-url: '@{image-root}/@{image-name}';
    background-image: url('@{image-url}');
}

.text-overflow(@overflow) {
    -ms-text-overflow: @overflow;
    -o-text-overflow: @overflow;
    text-overflow: @overflow;
}

.placeholder() {
    ::-webkit-input-placeholder {
        .font-sub();
    }

    :-moz-placeholder {
        /* Firefox 18- */
        .font-sub();
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        .font-sub();
    }

    :-ms-input-placeholder {
        .font-sub();
    }
}

.placeholder-color(@color) {
    &::-webkit-input-placeholder {
        color: @color;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: @color;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: @color;
    }

    &:-ms-input-placeholder {
        color: @color;
    }
}

.input-shadow() {
    border: none;
    .box-shadow(inset 1px 1px 3px #aaa);
}

.input-shadow-focused() {
    outline: none;
    .box-shadow(0 0 5px #4e4e4e, 0 0 0 1px #d4d4d4 inset);
}

.common-input() {
    .font-sub();
    .box-sizing(border-box);
    width: 100%;
    padding: 0 10px 0 10px;
    margin: 0 0 12px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid @cl-brand-tx;
    background: none;
}

.common-input-small() {
    .font-sub();
    .box-sizing(border-box);
    width: 100%;
    padding: 2px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #d7e3ec;
}

.common-input-light() {
    padding: 8px;
    border: 1px solid #efefef;
    margin-top: -1px;

    .font-sub();
    .box-sizing(border-box);
}

.subheader() {
    font-size: 25px;
    /*background-color: #DADEE0;
    padding: 5px 10px;*/
}

.lift() {
    .gradient(linear-gradient(to bottom, white, #fafafa));
    .box-shadow(1px 1px 3px #aaaaaa);
}

.tag-colors() {
    &.cl-0 {
        background-color: #f7bed2;
    }
    &.cl-1 {
        background-color: #f99c9c;
    }
    &.cl-2 {
        background-color: #d36363;
    }
    &.cl-3 {
        background-color: #c55b79;
    }
    &.cl-4 {
        background-color: #d88c69;
    }
    &.cl-5 {
        background-color: #e4b25f;
    }
    &.cl-6 {
        background-color: #f7ce4d;
    }
    &.cl-7 {
        background-color: #e4db27;
    }
    &.cl-8 {
        background-color: #7ba6de;
    }
    &.cl-9 {
        background-color: #52c2d9;
    }
    &.cl-10 {
        background-color: #4dcbbd;
    }
    &.cl-11 {
        background-color: #9edb5b;
    }
    &.cl-12 {
        background-color: #5bdba3;
    }
    &.cl-13 {
        background-color: #3fb198;
    }
    &.cl-14 {
        background-color: #b3ad36;
    }
    &.cl-15 {
        background-color: #c8c629;
    }
    &.cl-16 {
        background-color: #34a2ee;
    }
    &.cl-17 {
        background-color: #6999b9;
    }
    &.cl-18 {
        background-color: #9188e3;
    }
    &.cl-19 {
        background-color: #e197f0;
    }
    &.cl-20 {
        background-color: #f288c1;
    }
    &.cl-21 {
        background-color: #d28cb2;
    }
    &.cl-22 {
        background-color: #adb09f;
    }
    &.cl-23 {
        background-color: #6f8083;
    }
}

.disable-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clearfix() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.scrollbar-hidden() {
    ::-webkit-scrollbar {
        width: 0 !important;
    }

    -ms-overflow-style: none;
}
