@import '../common/lesshat.less';
@import '../common/mixins.less';

/* ------ Variables ------------------------------------------------------------------------------- */

/* ------ Mixins ---------------------------------------------------------------------------------- */

/* ------ Component ------------------------------------------------------------------------------- */
.main-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #cecece;
    height: 60px;

    &__icon {
        margin-right: 10px;
    }
}
